# Features extraction
The dataset is created by using the Features class. 
Each audio file il loaded in memory and the following features are extracted: 
- mfcc 
- chroma
- rms

Every feature array is then reduced with the following functions: 
- min
- max
- median
- mean

Results are concatenated and a total of 132 features are extracted from each audio.

In [1]:
import sys
sys.path.append("..")

## Dask speed up
To speed up the computation Dask is used. 
A total of 4 workers works in parallel to extract features more efficiently, reducing the time on a single fold from about 70 seconds to just under 30.

In [2]:
from src.features import Features
import pandas as pd
import numpy as np

f = Features(metadata_path="../data/raw/metadata/UrbanSound8K.csv",
             audio_files_path="../data/raw/audio",
             save_training_path="../data/processed", 
             workers=4,
             folds=5)

training_dataframe = f.get_training_dataframe()

## Dataset structure

The dataset is organized in a $\mathit{class}, \mathit{feature}_1, \dots, \mathit{feature}_n$ structure.

In [3]:
training_dataframe.head()

,class,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_122,f_123,f_124,f_125,f_126,f_127,f_128,f_129,f_130,f_131
0,3.0,-468.916718,-90.604309,-280.867981,-275.118195,103.536537,166.046860,116.320076,119.942017,-134.742050,...,0.249177,0.268405,0.020207,0.559849,0.240813,0.260793,0.004125,0.323193,0.060309,0.115526
1,2.0,-545.911560,-449.737610,-501.412659,-500.942200,138.382217,206.950897,187.180573,185.279099,-119.702606,...,0.472308,0.510036,0.025412,1.000000,0.432595,0.464385,0.002247,0.008561,0.003712,0.003989
2,2.0,-561.273010,-499.553986,-530.084656,-531.312927,165.611450,210.130707,187.276962,187.208420,-97.740570,...,0.553743,0.565882,0.009379,1.000000,0.549721,0.559244,0.001927,0.006363,0.002892,0.003005
3,2.0,-526.251465,-407.503479,-483.075256,-476.688354,92.960129,202.951935,163.492233,160.308655,-113.801392,...,0.455248,0.480800,0.061351,1.000000,0.494267,0.512514,0.002215,0.010510,0.003828,0.004620
4,2.0,-554.540466,-485.515503,-521.299805,-521.338867,154.769073,198.585297,186.238281,185.597458,-102.559494,...,0.541147,0.559029,0.096241,1.000000,0.695311,0.678065,0.002163,0.004988,0.003160,0.003222

In [4]:
f.save_training_set(training_dataframe)